* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.wave {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100%;
    z-index: -1;
}

.btn {
    color: #F38BA0;
    border-color: #F38BA0;
}
.btn:hover {
    border-color: #F38BA0;
    background-color: #F38BA0;
}